.nav__component {
  width: 100%;
  margin-bottom: 20px;
  height: 130px;
  text-align: center;
}

.nav__component h1 {
  padding: 10px;
  text-transform: uppercase;
  color: #ec5d09;
  font-size: 3rem;
}

.nav__component h2 {
  text-transform: uppercase;
  margin-top: 5px;
}

.span {
  width: 10%;
  height: 5px;
  position: absolute;
  left: calc(45%);
  background-color: #161616;
  text-align: center;
}