//date count I

.date__component {
  width: 70%;
  height: 50vh;
  position: relative;
  top: 20%;
  margin: 0 auto;
  border-radius: 10px;
  background-color: rgb(42, 50, 83);

  .op {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;

    top: 50px;
    margin-bottom: 50px;
    .icon {
      margin-right: 10px;
      margin-left: 10px;
      background-color: #fff;
      border-radius: 100%;
      width: 30px;
      height: 30px;

      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
    h4 {
      color: #fff;
    }
  }

  .counter {
    display: flex;
    justify-content: center;
    .days {
      margin-left: 10px;
    }
    h4 {
      text-align: center;
      margin-top: 13%;
      font-size: 1rem;
      text-transform: uppercase;
    }
  }

  .btn {
    position: relative;
    top: 80px;
    margin-left: 40%;
    width: 100px;
    height: 30px;
    text-transform: uppercase;
  }

  .counter {
    h4 {
      color: #fff;
    }
  }
}

