.chef--component {
  width: 100%;
  height: 60vh;
  background-color: rgb(255, 102, 0);
  padding: 10px;
}

.chef--component h1 {
  text-align: center;
  margin-top: 40px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bolder;
}

.chef-card {
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  color: #fff;
}

.chef-card img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.chef-card p {
  width: 50%;
  text-align: center;
  margin-top: 20px;
}
