.pizza__container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  gap: 50px;

}

.img__pizza {
  width: 200px;
  height: 150px;
}
.pizzas_container {
  margin-top: 20px;
}
.pizzas_container h1 {
  font-size: 1.5rem;
}

.pizzas_container p {
  font-size: 1rem;
}


@media screen and (max-width: 800px) {
  
  .pizza__container {
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
  }
  

}

@media screen and (min-width: 1200px) {
  
  .pizza__container {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    gap: 50px;
  }
  
  .img__pizza {
    width: 300px;
    height: 300px;
  }

}