@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  font-family: "SPARK-BUBBLE";
  src: url("../../public/Fonts/SPARK-BUBBLE.otf");
}

$default--font: "Poppins", sans-serif;
$fantasy--font: "SPARK-BUBBLE", sans-serif;
$nav--color: #FABC3D;
$serach--bg-color: rgb(226, 113, 21);
$bg-color: rgb(153, 41, 41);
$footer--bg: rgb(58, 135, 235);
